{:logging {:level "debug"
           :console? true
           :sentry {:dsn "https://4bb89c9cdae14444819ff0ac3bcba253@sentry.io/1306960"
                    :min-level :warn}}
:web3 {:url "http://qa_parity:8545"}
:ipfs {:host "qa_ipfs:5001" :endpoint "/api/v0" :gateway "qa_ipfs:8080/ipfs"}}
