{:logging {:level :debug
           :console? true
           :file-path "/logs/memefactory.qa.log"
           :sentry {:dsn "https://4bb89c9cdae14444819ff0ac3bcba253@sentry.io/1306960"
                    :min-level :warn}}
 :web3 {:url "http://qa.district0x.io:8545"}
 :ipfs {:host "http://qa_ipfs-daemon:5001" ;; host is the container address
        :endpoint "/api/v0"
        :gateway "http://qa.district0x.io:8080/ipfs" ;; gateway is exposed by the container
        }
 :emailer {:private-key "dummy"
           :print-mode? true}
 }
